* {
    box-sizing: border-box;
}
body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: "Outfit";
}
.container {
    width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: hsl(0, 0%, 100%);
    padding: 20px;
    border-radius: 10px;
}
.container .img {
    width: 310px;
}
.container .img img {
    width: 100%;
    border-radius: 10px
}
.container {
    text-align: center;
}
.container h1 {
    color: hsl(218, 44%, 22%);
    font-size: 1.6em;
}
.container p {
    color: hsl(220, 15%, 55%);
    font-size: 1.2em;
}
@media (max-width: 767px) {
    .container {
        width: 300px;
    }
    .container .img {
    width: 260px;
    }
    .container h1 {
        font-size: 1.4em;
    }
    .container p {
        font-size: 1.0em;
    }
}